
/*---------------------Header-------------------------------------*/
.header-container{
   /*  outline: 1px solid goldenrod; */
    height: 8rem;
}

.navbar{
    display: none;
}
.logo img{
    width: 8rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.hmenu img{
    width: 4.3rem;
    margin-top: 1.8rem;
    margin-right: 1rem;
}
/*-------------Main----------------------------------------------*/
.mainContainer{
    height: 800px;
}

.mainContainer h1{
    font-size: 4rem;
    margin-left: 5px;
    margin-right:5px;
    margin-bottom: 30px;
    text-shadow: 4px 4px black;
}

.mainContainer h2{
    font-size: 2.2rem;
    margin-left: 5px;
    margin-right: 5px;
    text-shadow: 4px 4px black;
}

.textDiv{
    font-size: 2.4rem;
    margin-top: 200px;
}

.footerContainer{
    display: flex;
    justify-content: space-around;
}
.footerContainer img{
    width: 4rem;
}