*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1, h2{
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

h1{
    font-size: 2.8rem;
    letter-spacing: 1.5rem;
}
h2{
   font-size: 2rem; 
}


/*------------------------------------Header------------------------------------------------*/
header{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: whitesmoke;
    width: auto;
    height: 4rem;
}
header div{
    display: flex;
    justify-content: center;

}
.h1Text{
    /* outline: 1px solid whitesmoke; */
    width:80%;
}
.linkText{
    width: 20%;
}

header p{
    font-family:'Open Sans Condensed', sans-serif;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    margin-top: 1rem;
}

header a{
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
}


/*------------------------------Main--------------------------------------------*/

main{
    background-color: rgba(245, 222, 179, 0.342);
    height: auto;
    color: whitesmoke; 
    background-image: url(../img/klavi_bg_optimized.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    display:flex ;
    flex-wrap: wrap;
    justify-content: space-around;
    outline: 1px solid whitesmoke;
    height: auto;
}

main a {
    text-decoration: none;
    color: whitesmoke;
}

.card:hover{
    box-shadow: rgba(245, 245, 245, 0.733) 0px 12px 28px 0px, rgba(245, 245, 245, 0.733) 0px 2px 4px 0px, rgba(245, 245, 245, 0.733) 0px 0px 0px 1px inset;

}


.card {
   /*  outline: 1px solid whitesmoke; */
    height: 26rem;
    margin-top: 8rem;
    margin-bottom: 10rem;
    padding: 1rem;
    border-radius: 1.25rem;
    background-color: #757576d3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
   
}
.card p{
    /* outline: 1px solid whitesmoke; */
    max-width: 19rem;
    font-family:'Open Sans Condensed', sans-serif;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: .2rem;
    text-align: justify;
}
.card img{
    width: 15rem;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

/*------------------------------Footer--------------------------------------------*/


footer{
    background-color:#262626;
    color: whitesmoke;
}

footer a {
    text-decoration: none;
    color: whitesmoke;
}

