*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/Muterem.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    color: gold;
    font-family:'Ephesis', cursive;
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    /* outline: 1px solid goldenrod; */

}

.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    text-align: center;
  /*   outline: 1px solid goldenrod; */
}

.footerContainer{
    display: flex;
    justify-content: space-around;
}