*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1, h2{
    font-family: 'Amatic SC', cursive;
}

h1{
    font-size: 2.8rem;
    letter-spacing: 1.5rem;
}

p{
    font-family:'Open Sans Condensed', sans-serif;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    margin-top: 1rem;
}

/*------------------------------------Header------------------------------------------------*/
header{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: whitesmoke;
    width: auto;
    height: 4rem;
}
header div{
    display: flex;
    justify-content: center;

}
.h1Text{
   
    width:80%;
}
.linkText{
    width: 20%;
}

header a{
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
}


/*------------------------------Main--------------------------------------------*/

main{
    background-color: rgba(245, 222, 179, 0.342);
    height: 50rem;
}