nav .mainMenu{
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    transition: top 1s ease;
    display: none;
}
nav .mainMenu .closeMenu{
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;

}
nav .openMenu{
    display: block;
}
nav .mainMenu li a:hover {
    font-size: 1.6rem;
}
.icons i{
    display:inline-block;
    padding: 15px;
}