*{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  overflow-y: hidden;
  color: rgb(205, 163, 73);
  font-family: 'Gemunu Libre', sans-serif;
 
}
main{
  width: 600%;
  height: 100%;
  display: flex;


 /*-----Header------*/ 
}
nav{
    position: fixed;
    width: 100%;
    display: flex;
    font-size: 1.7rem;
    z-index: 1;
    
}

nav ul{
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 2.5rem;
}
nav ul li{
  margin: 0 .2rem;
  padding: .5rem;

}
nav ul li a {
  position: relative;
  color: rgb(205, 163, 73);
  text-shadow: 1px 1px 6px black;
  font-family: 'Gemunu Libre', sans-serif;
  text-decoration: none;
  font-size: 2rem;

}

nav .mainMenu li a:hover{
  color: rgb(211, 207, 207);
}


.logo img{
  width: 200px;
  max-height: 154px;
  max-width: 180px;
  flex-shrink: 0;
  margin: 8px;
  margin-top: 15px;
  cursor: pointer;
}

nav .openMenu{
  font-size: 2.4rem;
  margin-top: 40px;
  margin-right: 30px;
  display: none;
  cursor: pointer;
}

nav .mainMenu .closeMenu , .icons i {
  font-size: 2rem;
  display: none; 
  cursor: pointer;
}

.fa-facebook-f:hover{color:rgb(211, 207, 207);}
.fa-instagram:hover{color:rgb(211, 207, 207);}
.fa-deviantart:hover{color:rgb(211, 207, 207);}

/*---------------------------------Section-------------------------------------------------*/

section{
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  background-image: url(./img/Muterem.jpg);
  background-size: cover;
}

::-webkit-scrollbar{
  display: none;
}
.textContainer{
    display: flex;
    flex-direction: column;
}


/*---------------------------------Page_1------------------------------------------------*/
#page1 h1{
  font-size: 6rem;
  text-shadow: 3px 3px black;
  letter-spacing: 1rem;
  margin-top: 30vh;
}
#EIM{
  font-size: 2rem;
  text-align: center;
  margin-top: 10vh;
  letter-spacing: 1rem;
  text-shadow: 3px 3px black;
}
#type{
  font-size: 2.5rem;
  text-align: center;
  margin-top: 8vh;
  white-space: pre;
  text-shadow: 3px 3px black;
}

.socI{
  text-align: center;
  margin-top: 25vh;
  font-size: 2.8rem;
  letter-spacing: 2rem;
  text-shadow: 3px 3px black;
  cursor: pointer;
}
.socI a {
  color: rgb(205, 163, 73);
  text-shadow: 1px 1px 6px black;
}

/*---------------------------------Page_2------------------------------------------------*/

#page2 h2{
  font-size: 6rem;
  text-shadow: 3px 3px black;
  letter-spacing: 1rem;
  margin-top: 30vh;
}

section:nth-child(2){
  background-image: url(./img/img2.jpg);
}

/*---------------------------------Page_3------------------------------------------------*/

#page3 h2{
  font-size: 6rem;
  text-shadow: 3px 3px black;
  letter-spacing: 1rem;
  margin-top: 30vh;
}

section:nth-child(3){
  background-image: url(./img/img3.jpg);
}

/*---------------------------------Page_4------------------------------------------------*/

#page4 h2{
  font-size: 6rem;
  text-shadow: 3px 3px black;
  letter-spacing: 1rem;
  margin-top: 30vh;
}

section:nth-child(4){
  background-image: url(./img/img4.jpg);
}

/*---------------------------------Page_5------------------------------------------------*/

#page5 h2{
  font-size: 6rem;
  text-shadow: 3px 3px black;
  letter-spacing: 1rem;
  margin-top: 30vh;
}

section:nth-child(5){
  background-image: url(./img/img5.jpg);
}

/*---------------------------------Page_6------------------------------------------------*/

#page6 h2{
  font-size: 6rem;
  text-shadow: 3px 3px black;
  letter-spacing: 1rem;
  margin-top: 30vh;
}

section:nth-child(6){
  background-image: url(./img/img6.jpg);
}




/*......................medi@...........................*/



@media(max-width: 970px){
  nav {
    display: flex;
    justify-content: space-between;
  }
  nav .mainMenu{
      height: 100vh;
      margin-top: 1px;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgb(0, 0, 0);
      transition: top 1s ease;
      display: none;
  }
  nav .mainMenu .closeMenu{
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;

  }
  nav .openMenu{
      display: block;
  }
  nav .mainMenu li a:hover {
      font-size: 1.6rem;
  }
  .icons i{
      display:inline-block;
      padding: 15px;
  }
  .socI a {
    display: none;
  }
  

}

@media(max-width: 800px){
  #page1 h1{
    font-size: 4rem;
    text-align: center;
    text-shadow: 3px 3px black;
    letter-spacing: 1rem;
   margin-top: 30vh;
  }
  #EIM{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10vh;
    letter-spacing: .8rem;
    text-shadow: 3px 3px black;
  }
  #type{
    font-size: 2.3rem;
    text-align: center;
    margin-top: 8vh;
    white-space: pre;
    text-shadow: 3px 3px black;
  }

}
@media(max-width: 645px){
    main,h2{
      font-size: .5rem;
      letter-spacing:.5rem;
    }
}

@media(max-width: 595px){
  #page1 h1{
    font-size: 3rem;
  }
  #EIM{
    letter-spacing: .5rem;
   
  }
  #type{
    font-size: 1.5rem;
  }
}

@media(max-width: 595px){
  #page1 h1{
    font-size: 3rem;
    letter-spacing: .7rem;
  }
}