*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #141414;
}

.gallery{
    /* background-color: aliceblue; */
    max-width: 80%;
    margin: 2rem auto 0 auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 

}

.selectButton{
    /* background-color: rgba(128, 128, 128, 0.411); */
    margin: 2rem;
    width: 60%;
    margin: 2rem auto 2rem auto;
}

.selectButton .actions{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.selectButton ul {
    list-style: none;
}
.selectButton li{
    margin: 1.5rem 1rem .8rem 1rem;
    font-size: 1.5rem;
    
}

.selectButton li a {
    text-decoration: none;
    color: whitesmoke;
}

.image{
    outline: 1px solid black;
    width: 25rem;
    height: 15rem;
    margin: 1rem;
    background-color: burlywood; 
    display: none;
    text-align: center;
    justify-content: center;
    align-items: flex-end; 
    cursor: pointer; 
    border-radius:20px;
    /* opacity: 0; */
}
.image a{
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
}


.image1{
    background-image: url(./img/levyndadesign.png);
    background-size: cover;
    background-position: center;
}

.image2{
    background-image: url(./img/Angnon.png);
    background-size: cover;
    background-position: center;
}

.image3{
    background-image: url(./img/oldalkep2.jpeg);
    background-size: cover;
    background-position: center;
}

.imageEmpty{
    background-image: url(./img/Empty.png);
    background-size: cover;
    background-position: center;
}

.imageApp1{
    background-image: url(./img/Wa.png);
    background-size: cover;
    background-position: center;
}

.imageApp2{
    background-image: url(./img/kari.png);
    background-size: cover;
    background-position: center;
}

.imagegrafic{
    background-image: url(./img/Empty.png);
    background-size: cover;
    background-position: center;
}

.info{
    background-color: rgba(128, 128, 128, 0.664); 
    width: 25rem;
    transition:all 500ms linear;
    opacity: 0;
    border-radius:0 0 20px 20px;
    text-align: center;

}
.info h2{
    margin-top: .5rem;
}

.image:hover .info{
    opacity: 1;
}

.btn{
    padding: 10px 35px;
    background: transparent;
    background-color: rgba(128, 128, 128, 0.219);
    border: 1px solid white;
    color: #eeeeff;
    outline: none;
    transition: .6s ease;
    font-family: 'Amatic SC', cursive;
    font-size: 1.2rem;
    border-radius: 20px;
}

.btn:hover{
    cursor: pointer;
    background-color:white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}

.show{
    transform:scale(1);
    /* opacity: 1; */
    display: flex;
}